* {
	font-family: var(--font), monospace;
	color: var(--text-color);
}
body {
	background-color: var(--background);
	margin: 0;
}
.navbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--background2);
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 0.5rem;
	/* box-shadow: 0px 0.1rem 1rem var(--code); */
	/* border-bottom: 0.1px solid var(--text-color2); */
}
a {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 0.1rem solid var(--text-color);
	/* font-style: italic; */
}
.hide_underscore {
	border: none !important;
}
.Link {
	#border-bottom: 0.1rem solid var(--text-color2);
	border: none;
	color: var(--text-color2);
	margin-left: 0.5rem;
	font-style: normal;
}
.Link_highlighted {
	color: var(--accent);
	#border-bottom: 0.1rem solid var(--accent);
}
.Link:hover {
	color: var(--accent2);
	#border-bottom: 0.1rem solid var(--accent2);
}
.Link_container {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}
.skill_set_image {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 25%;
	margin: 0.5rem;
}
.skill_set_container {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.secondary_container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	text-align: center;
	background-color: var(--background2);
	border-radius: 0.5rem;
	overflow: hidden;
	/* width: 25%; */
	/* min-height: fit-content; */
	width: max-content;
	/* border: 0.1rem solid var(--accent); */
}
.secondary_container:hover {
	/* background-color: var(--background); */
	/* border: 0.1rem solid var(--accent2); */
}
.secondary_container_about:hover {
	/* background-color: var(--background); */
	/* border: 0.1rem solid var(--accent2); */
}
.hr_sec {
	width: 100%;
	border: none;
	border-top: 1px solid var(--code);
}
.hr_full {
	width: 100%;
	border: none;
	border-top: 1px dashed var(--accent);
}
.text_padding {
	font-size: 15pt;
	padding: 0.5rem;
	margin: 0.5rem;
}
.landing_container {
	display: flex;
	/* flex-direction: column; */
	align-items: flex-start;
	justify-content: center;
}
.footer {
	display: flex;
	/* position: absolute; */
	justify-content: center;
	width: 100%;
	bottom: 0;
	margin-top: 2.5rem;
	padding-bottom: 1rem;
}
.github_stats_img {
	/* border-radius: 2rem; */
	margin: 0.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.heading_container {
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	padding-right: 1rem;
}
button {
	background: none;
	color: var(--accent);
	border: none;
	padding: 0;
}
.projects_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.project_container {
	overflow: hidden;
	word-wrap: break-word;
	background-color: var(--background2);
	margin: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem;
	width: 25%;
	height: 45rem;
	padding-bottom: 1rem;
	/* border: 0.1rem solid var(--accent); */
}
.project_container:hover {
	/* background-color: var(--background); */
	/* border: 0.1rem solid var(--accent2); */
}
.project_container > img {
	/* border-top-left-radius: 1rem; */
	/* border-top-right-radius: 1rem; */
	width: 100%;
	border-bottom: 0.25rem solid var(--accent);
}
.project_container > a {
	margin: 1rem;
}
.pill {
	padding: 0.25rem;
	border-radius: 0.5rem;
	background-color: var(--background2);
	border: 0.1rem solid var(--accent);
	/* border-radius: 0.5rem; */
	/* color: var(--background); */
}
.contr {
	background-color: var(--accent);
	border: 0.1rem solid var(--accent2);
	/* color: var(--background); */
}
select {
	background-color: var(--background);
	color: var(--text-color);
	border: none;
}
option {
	background-color: var(--background);
	color: var(--text-color2);
}
option:hover {
	background-color: var(--background2) !important;
}
input {
	background: var(--background2);
	border-radius: 0.5rem;
	border: none;
	margin: 1rem;
	padding: 0.5rem;
}
.not_yet_mf_container {
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.not_yet_mf {
	margin-top: 2rem;
	font-size: 50pt;
	color: var(--accent);
}
.secondary_text {
	text-align: center;
	color: var(--text-color2);
}
.footer > span {
	margin-right: 1rem;
}
.theme_span {
	margin-left: 0.5rem;
}
.code {
	padding: 0.5rem;
	background-color: var(--background);
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	justify-content: center;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
code {
	/* font-family: monospace; */
	color: var(--code);
}
.languages {
	color: var(--code);
	font-style: italic;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.right_navbar_element {
	display: flex;
	align-items: center;
}
.material-icons:hover {
	color: var(--text-color2);
}
#navbar_icon {
	font-size: 20pt;
}
.scroll_to_top {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding-top: 10rem;
	padding-left: 1rem;
}
/*TODO: fix ios bug*/
.scroll_to_top_temp {
	margin-right: 0.25rem;
}
.about {
	display: flex;
	margin-top: 1rem;
	/* margin-bottom: 5rem; */
	width: 70%;
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.about > p {
	margin: 0;
	padding: 0;
}
.icon_container {
	display: flex;
	align-items: center;
	width: fit-content;
}
.contact_icon {
	font-size: 40pt;
	margin: 2rem;
	color: var(--accent);
}
.contact_icon:hover {
	color: var(--text-color2);
}
.avatar_img {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	margin-bottom: 1rem;
	border: 0.25rem solid var(--accent);
}
.left_navbar_element {
	font-size: 17pt;
	display: flex;
	justify-content: center;
	align-items: center;
}
.easter {
	font-size: 12pt;
}
.alert {
	color: var(--accent);
}
.blog_entry_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.blog_entry {
	border-radius: 0.5rem;
	height: 20%;
	width: 50%;
	background-color: var(--background2);
	text-align: center;
	margin: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
/* .blog_entry a {
} */
.entry_date {
	padding: 0;
	margin: 0;
	padding-bottom: 0.25rem;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
}
.blog_header_compact {
	font-size: 16pt;
	margin-right: 1rem;
	margin-left: 1rem;
	border: none;
}
.entry_container_extended {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container_entry {
	width: 90%;
	overflow: auto;
	word-wrap: break-word;
	border-radius: 0.5rem;
	word-break: break-word;
	margin-top: 2rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	background-color: var(--background2);
}
.container_entry .code {
	width: 80%;
	padding: 0.25rem;
	border-radius: none;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0.1rem;
	background-color: var(--background);
}
.container_entry a {
	color: var(--text-color2);
	border-bottom: 0.1rem dotted var(--text-color2);
}
.entry_header {
	font-size: 30pt;
}
.date_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
}
.back_link {
	margin-bottom: 1rem;
}
td,
th {
	padding: 0.5rem;
	background-color: var(--background);
}
th {
	border-bottom: 1px solid var(--accent);
}
.blog_tag {
	padding: 0.5rem;
	margin: 0.25rem;
	cursor: pointer;
	border-radius: 0.5rem;
	background-color: var(--background2);
}
.blog_tag_sec {
	background-color: var(--background);
}
.tag_container {
	display: flex;
	border-radius: 0.5rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.container_right_align {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
/* tag highlight */
.tag_react {
	background-color: #5ccde9;
	color: white;
}
.tag_javascript {
	background-color: #fcdc00;
	color: black;
}
.tag_typescript {
	background-color: #3178c6;
	color: white;
}
.tag_html {
	background-color: #e34c26;
	color: white;
}
.tag_css {
	background-color: #3060a2;
	color: white;
}
.tag_python {
	background-color: #234c6e;
	color: #ffdf76;
}
.tag_linux {
	background-color: black;
	color: yellow;
}
.tag_opinion {
	background-color: red;
	color: white;
}
/* ------------- */
.filter_options {
	display: flex;
	flex-direction: column;
}
.filters {
	margin-right: 1rem;
	cursor: pointer;
	filter: brightness(1.50);
}
.filter_options_buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.better_button {
	background-color: var(--background2);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.25rem;
}
.none_tag {
	background-color: transparent;
	border: 0.1rem solid var(--background2);
	cursor: not-allowed;
	padding: 0.25rem;
}
.add_filters {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: var(--background2);
}
.bg_remover {
	background: none;
}
.container_entry img {
	width: 100%;
}
@media only screen and (max-width: 1000px) {
	#navbar_icon {
		font-size: 20pt;
	}
	.left_navbar_element {
		font-size: 15pt;
	}
	.project_container {
		width: 80%;
		height: fit-content;
	}
	.blog_entry {
		width: 80%;
		height: fit-content;
	}
	.scroll_to_top_temp {
		font-size: 30pt;
		margin-right: 1rem;
	}
	.not_yet_mf {
		font-size: 25pt;
	}
	.entry_container_extended {
		margin: 0.5rem !important;
	}
	.container_right_align {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
