@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
:root {
  --background: #f5f2e0;
  --background-sec: #fbf1c7;

  --primary: #00c58e;
  --secondary: #00a4d4;

  --text: #4c566a;
  --text-secondary: #434c5e;
  --text-third: #3b425250;

  --primary-hover: #00ad7c;
  --secondary-hover: #0099c5;
  --background-sec-hover: #4c566a50;
}

.dark-mode {
  --background: #282828;
  --background-sec: #3c3836;

  --primary: #00a4d4;
  --secondary: #00c58e;

  --text: #f5f3ed;
  --text-secondary: #bdae93;
  --text-third: #3b4252d0;

  --primary-hover: #0099c5;
  --secondary-hover: #00ad7c;
  --background-sec-hover: #4c566a50;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s;
}
code:not(div pre > code) {
  font-family: "Roboto Mono", monospace;
  color: var(--text-sec);
  background-color: var(--background-sec);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
a {
  color: var(--text);
}
a:hover {
  color: var(--text-secondary);
}
.link {
  color: var(--primary);
  text-decoration: none;
}
.link:hover {
  color: var(--primary-hover);
}
.navbar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.navbar .link {
  margin-right: 1rem;
}
.button,
.badge {
  user-select: none;
  cursor: pointer;
  font-size: 1.05rem;
  color: var(--text);
  background-color: var(--background-sec);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 -4px 0 var(--text-third);
  margin: 0.5rem;
}
.button:active,
.badge:active {
  position: relative;
  top: 1px;
  box-shadow: inset 0 -2px 0 var(--text-third);
}
.button:hover {
  background-color: var(--background-sec-hover);
}
.primary {
  color: var(--background);
  background-color: var(--primary);
}
.primary:hover {
  background-color: var(--primary-hover);
}
.secondary {
  color: var(--background);
  background-color: var(--secondary);
}
.secondary:hover {
  background-color: var(--secondary-hover);
}
/* article css rules */
blockquote {
  background-color: var(--background-sec);
  border-left: 0.5rem solid var(--primary);
  padding: 0.25rem;
  padding-left: 1rem;
}
.article-author {
  font-weight: bold;
}
.article-seperator {
  color: var(--background-sec);
}
.article-header {
  /*margin-bottom: 0;*/
}
.article-subtitle {
  font-size: smaller;
}
/* pre {
  background-color: var(--background-sec) !important;
} */
.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footnote-ref {
  color: var(--primary);
}
.footnote-ref::before {
  color: var(--text);
  content: "[";
}
.footnote-ref::after {
  color: var(--text);
  content: "]";
}
.footnotes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footnotes li {
  font-size: small;
}
.badge {
  color: var(--background);
  background-color: var(--primary);
  margin-left: 0.5rem;
}
.small_font {
  font-size: 0.75rem !important;
}
.tag-container {
  margin-top: 0.5rem;
}
th {
  text-align: left;
  border-bottom: 1px solid var(--text);
}

pre {
  margin-right: 0.25rem;
  overflow-x: auto !important;
}
.article {
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
  word-break: keep-all;
}
