@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
:root {
  --background: #ffffff;
  --background-sec: #e5e9f0;

  --primary: #00c58e;
  --secondary: #00a4d4;

  --text: #4c566a;
  --text-secondary: #434c5e;
  --text-third: #3b425250;

  --primary-hover: #00ad7c;
  --secondary-hover: #0099c5;
  --background-sec-hover: #4c566a50;
}

.dark-mode {
  --background: #2e3440;
  --background-sec: #4c566a;

  --primary: #00c58e;
  --secondary: #00a4d4;

  --text: #e5e9f0;
  --text-secondary: #d8dee9;
  --text-third: #606f7b50;

  --primary-hover: #00ad7c;
  --secondary-hover: #0099c5;
  --background-sec-hover: #4c566a50;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
body {
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s;
}
code:not(div pre > code) {
  font-family: "Roboto Mono", monospace;
  color: var(--text-sec);
  background-color: var(--background-sec);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
a {
  color: var(--text);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.link {
  color: var(--primary);
}
.navbar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.navbar .link {
  margin-right: 1rem;
}
.button {
  cursor: pointer;
  font-size: 1.05rem;
  color: var(--text);
  background-color: var(--background-sec);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 -4px 0 var(--text-third);
}
.button:active {
  position: relative;
  top: 1px;
  box-shadow: inset 0 -2px 0 var(--text-third);
}
.button:hover {
  background-color: var(--background-sec-hover);
}
.primary {
  color: var(--background);
  background-color: var(--primary);
}
.primary:hover {
  background-color: var(--primary-hover);
}
.secondary {
  color: var(--background);
  background-color: var(--secondary);
}
.secondary:hover {
  background-color: var(--secondary-hover);
}
/* article css rules */
blockquote {
  background-color: var(--background-sec);
  border-left: 0.5rem solid var(--primary);
  padding: 0.25rem;
  padding-left: 1rem;
}
.article-author {
  font-weight: bold;
}
.article-seperator {
  color: var(--background-sec);
}
.article-header {
  /*margin-bottom: 0;*/
}
.article-subtitle {
  font-size: smaller;
}
