@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--delay: 0;
	--delay2: 1;
	--duration: 500ms;
	--duration2: 600ms;
	--iterations: 1;
	--background: #f8f9fa;
	--background-sec: #f8f9fa;
	--background-third: #e2e2e2;

	--shadow: rgba(0, 0, 0, 0.1);
	--primary: #00aaff;

	--text: #383838;
	--text-secondary: #aea3b0;
	--text-third: #e3d0d8;

	--primary-hover: #0089ce;
	--background-sec-hover: #bcabae50;
}
.dark-mode {
	--background: #161616;
	--background-sec: #1f1f1f;
	--background-third: #353535;
	--shadow: rgba(0, 0, 0, 0.6);

	--primary: #8875ff;

	--text: #dcddde;
	--text-secondary: #999;
	--text-third: #2b2c31;

	--primary-hover: #685ac7;

	--background-sec-hover: #1a1a1a;
}
* {
	box-sizing: border-box;
}
code {
	font-family: "Fira Code", monospace;
}
html {
	background-color: var(--background-sec);
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	color: var(--text);
	transition: background-color 0.3s;
	height: 100%;
}
code:not(div pre > code) {
	color: var(--text);
	background-color: var(--background-third);
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
a {
	color: var(--text);
}
a:hover {
	color: var(--text-secondary);
}
.link {
	color: var(--primary);
	text-decoration: none;
}
.link svg {
	margin-right: 0.25rem;
}
.link-flex {
	display: flex;
	align-items: center;
}
.link:hover {
	color: var(--primary-hover);
}
.badge,
.button {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
	font-size: 1.05rem;
	color: var(--text);
	background-color: var(--background-sec);
	border: none;
	padding: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: inset 0 -4px 0 var(--text-third);
	margin: 0.5rem;
}
.button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 -2px 0 var(--text-third);
}
.primary {
	color: var(--background);
	background-color: var(--primary);
	box-shadow: inset 0 -4px 0 var(--primary-hover);
}
.primary:active {
	box-shadow: inset 0 -2px 0 var(--primary-hover);
}
.icon {
	stroke: var(--primary);
	transition: opacity 1s;
	opacity: 1;
}
.icon:hover {
	stroke: var(--primary-hover);
}
/* article css rules */
blockquote {
	background-color: var(--background-sec);
	border: 1px solid var(--text-third);
	border-left: 0.5rem solid var(--primary);
	border-radius: 0.5rem;
	padding: 0.25rem;
	padding-left: 0.5rem;
	margin-left: 0.75rem;
}
.article-author {
	font-weight: bold;
}
.article-seperator {
	color: var(--background-sec);
}
.article-subtitle {
	font-size: smaller;
	color: var(--text-secondary);
}
.footnote-ref {
	color: var(--primary);
}
.footnote-ref::before {
	color: var(--text);
	content: "[";
}
.footnote-ref::after {
	color: var(--text);
	content: "]";
}
.footnotes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.footnotes li {
	font-size: small;
}
.badge {
	color: var(--background);
	background-color: var(--primary);
	margin-left: 0;
	margin-right: 0.5rem;
	box-shadow: inset 0 -4px 0 var(--primary-hover);
	cursor: unset;
}
.tag-container {
	margin-top: 0.4rem;
}
th {
	text-align: left;
	border-bottom: 1px solid var(--text);
}
pre {
	margin-right: 0.25rem;
	overflow-x: auto !important;
}
.article {
	max-width: 100%;
	overflow: auto;
	word-wrap: normal;
	margin-left: 14rem;
	margin-right: 14rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
div.article div.nuxt-content h1 a,
div.article div.nuxt-content h2 a,
div.article div.nuxt-content h3 a,
div.article div.nuxt-content h4 a,
div.article div.nuxt-content h5 a {
	display: none !important;
}
/*Homepage css roles*/
.homepage-link {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}
.homepage-container {
	margin-left: 14rem;
	margin-right: 14rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
}
.about-container {
	user-select: none;
	display: flex;
	justify-content: space-between;
	margin-top: 15rem;
}
.custom-codeblock {
	font-family: "Fira Code", monospace;
}
.custom-codeblock * {
	margin: 0;
}
.custom-codeblock span {
	color: var(--primary);
}
.custom-codeblock p {
	color: var(--text-third);
}
.custom-codeblock .tabbed {
	padding-left: 1rem;
}
.custom-codeblock .tabbed_2 {
	padding-left: 2rem;
}
.navigator,
.colorpalette {
	user-select: none;
	margin-top: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: var(--background);
	box-shadow: var(--shadow) 0px 5px 10px;
}
.colorpalette {
	background-color: var(--background-sec);
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-top: 0.5rem;
	position: relative;
	top: 3px;
	left: -80px;
}
/*bouncing effekt*/
@keyframes bounce {
	0% {
		bottom: 1px;
	}
	100% {
		bottom: 5px;
	}
}
.colorpalette div {
	margin: 0.5rem;
	height: 3rem;
	width: 3rem;
	box-shadow: var(--shadow) 0px 5px 10px;
	border-radius: 0.5rem;
	transition: all 0.25s ease-out;
	cursor: pointer;
}

.colorpalette div:hover {
	transform: scale(1.25);
}
.navigator_header {
	margin-top: 0;
}
.background_0 {
	background-color: var(--text);
}
.background_1 {
	background-color: var(--text-secondary);
}
.background_3 {
	background-color: var(--text-third);
}
.primary_0 {
	background-color: var(--primary);
}
.primary_1 {
	background-color: var(--primary-hover);
}
.about-secondary-container p:not(.about-description) {
	font-size: larger;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.about-description {
	font-size: smaller;
	margin: 0;
}
.about-name {
	font-weight: 900;
	font-size: 3rem;
	margin: 0;
}
.about-name-sub {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
}

.about-contact-container * {
	margin-top: 0.5rem;
	transition: all 0.3s ease-out;
}
.about-contact-container a:hover svg {
	transform: scale(1.25);
}

/*Article Preview roles*/
.article-preview {
	position: relative;
	box-shadow: var(--shadow) 0px 5px 10px;
	background-color: var(--background-sec);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	transition: all 0.3s ease-out !important;
}
.article-preview.homepage-article {
	min-width: 100%;
	left: -80px;
}
.article-preview-title {
	margin: 0;
	margin-bottom: 0.25rem;
	font-weight: bold;
	font-size: larger;
	width: fit-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.article-preview-title svg {
	margin-right: 0.25rem;
}
.article-preview-desc {
	margin: 0;
	margin-top: 0.5rem;
}
.article-preview-subtitle {
	color: var(--text-secondary);
	display: flex;
	align-items: center;
	font-size: small;
}
.article-preview-subtitle svg {
	margin-right: 0.25rem;
}
.article-previews-container {
	margin-left: 14rem;
	margin-right: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}
.article-previews-container.homepage-article {
	border-radius: 0.5rem;
	background-color: var(--background);
	box-shadow: var(--shadow) 0px 5px 10px;
	padding: 1.5rem;
	margin: 0;
	margin-top: 8rem;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 50%;
	min-width: fit-content;
	height: fit-content;
}
.article-previews-header-container {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.article-header {
	margin-top: 0.25rem;
}
.icon-project-header {
	margin-left: 0.25rem;
}
.toc-link-container {
	padding-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.toc-link-container ul {
	list-style-type: decimal-leading-zero;
}

/*projects rules*/
.projects-container-container {
	margin-top: 8rem;
	margin-left: 8rem;
	margin-bottom: 4rem;
	width: fit-content;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: var(--background);
	box-shadow: var(--shadow) 0px 5px 10px;
}
.projects-container {
	display: flex;
	flex-wrap: wrap;
}

.project-card {
	margin: 0.5rem;
	width: 20rem;
	border-radius: 0.5rem;
	word-wrap: break-word;
	background-color: var(--background-sec);
	box-shadow: var(--shadow) 0px 5px 10px;
	transition: all 0.5s ease-out !important;
	border: 1px solid transparent;
}

.project-card:hover {
	box-shadow: 0px 0px 10px 3px var(--primary);
}

.project-card-image {
	transition: all 0.5s ease-out !important;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

.project-card-title,
.project-card-desc {
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

.project-card-title {
	margin-bottom: 0.25rem;
	cursor: pointer;
}

.project-card-desc {
	color: var(--text-secondary);
	margin-bottom: 0.5rem;
}

/* text reveal animation */
.fade-in {
	animation-delay: var(--delay2, 1s);
	transition-timing-function: ease-in;
	animation-duration: var(--duration2, 800ms);
	animation-name: FadeIn;
}

@keyframes FadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	cursor: default;
}
.reveal-text::after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--primary);
	transform: scaleX(0);
	transform-origin: 0 50%;
	pointer-events: none;
	animation-name: text-revealer;
}
@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}
@keyframes text-revealer {
	0%,
	50% {
		transform-origin: 0 50%;
	}

	60%,
	100% {
		transform-origin: 100% 50%;
	}

	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

/* media querys*/
@media only screen and (max-width: 1000px) {
	.projects-container-container {
		margin: 0;
		padding: 1.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	.project-card {
		margin: 0;
		margin-bottom: 1rem;
		width: fit-content;
	}
	.about-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
	}
	.about-image {
		border-radius: 0.5rem;
	}
	.homepage-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.footnotes li {
		word-break: break-word;
	}
	.article,
	.article-previews-container {
		margin: 0;
		height: fit-content;
	}
	.article-previews-container {
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.article-preview.homepage-article {
		/* width: fit-content; */
		left: 0;
	}
	.article {
		padding: 0.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.article-previews-container.homepage-article {
		min-width: 100%;
	}
	.article-subtitle {
		width: 100%;
		display: block;
	}
}

@media only screen and (max-width: 500px) {
	.article,
	.article-previews-container {
		height: fit-content;
	}
	.article-previews-container.homepage-article {
		margin-top: 2rem;
	}
	.colorpalette {
		display: none;
	}
	.navigator {
		margin-top: 2rem;
	}
	.about-container {
		margin-top: 2rem;
	}
}
